<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %} - Doorcam{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    {% if message %}
    <div class="flash {{ message.category }}">{{ message.content }}</div>
    {% endif %}
    {% block content %}{% endblock content %}
</body>

</html>