<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/background.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/fontawesome/css/all.css" />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <title>{% block title %} - Doorcam{% endblock title %}</title>
    {% endblock head %}
</head>

<body class="mbg1">
    {% if message %}
    <div class="flash {{ message.category }}">{{ message.content }}</div>
    {% endif %}
    {% block content %}{% endblock content %}
</body>

</html>