{% extends "base" %}

{% block title %}Doorcam{% endblock title %}

{% block content %}
{{ super() }}
<img src="{{ cam_url }}"></img>
<a href="{{ activate_door_url }}">Open Door</a>
<nav>
    <a href="{{ change_user_url }}">Change Profile</a>
    <a href="{{ logout_url }}">Logout</a>
</nav>
{% endblock content %}