<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>Doorcam</title>
</head>

<body>
    <img src="{{ cam_url }}"></img>
    <button>Open Door</button>
    <nav>
        <a href="{{ change_user_url }}">Change Profile</a>
        <a href="{{ logout_url }}">Logout</a>
    </nav>
</body>

</html>